@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Spectral&display=swap');

$primary: #262337;
$secondary: #FAF5F6;
$highlight: #7178B6;
$success: #2EB24F;
$error: #F03A47;

.link {
    text-decoration: none;
    color: $highlight;
    &:visited {
        color: $highlight;
    }
    &:hover {
        color: #B6AF71;
    }
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
